<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/plantes">
      <ion-back-button color="medium"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ planet?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding>

  <ion-card *ngIf="planet">
    <ion-item lines="none">
      <ion-icon name="partly-sunny" slot="start"></ion-icon>
      Climate: {{ planet.climate }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="resize" slot="start"></ion-icon>
      Diameter: {{ planet.diameter }}
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="code-download" slot="start"></ion-icon>
      Gravity: {{ planet.gravity }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="stopwatch" slot="start"></ion-icon>
      Orbital Period: {{ planet.orbital_period }}
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="time" slot="start"></ion-icon>
      Rotation Period: {{ planet.rotation_period }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="people" slot="start"></ion-icon>
      Population: {{ planet.population }}
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="water" slot="start"></ion-icon>
      Surface Water: {{ planet.surface_water }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="image" slot="start"></ion-icon>
      Terrain: {{ planet.terrain }}
    </ion-item>
  </ion-card>

</ion-content>