<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="films" class="btn1">
      <ion-icon name="film"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="people" class="btn2">
      <ion-icon name="people"></ion-icon>
      <ion-label>People</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planets" class="btn3">
      <ion-icon name="planet"></ion-icon>
      <ion-label>Planets</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>