<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/people">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ people?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding>

  <ion-card *ngIf="people">
    <ion-card-content>
      <ion-icon name="star"></ion-icon> Birth Year: {{ people.birth_year }}
    </ion-card-content>
    <ion-card-content>
      <ion-icon name="color-filter"></ion-icon> Hair Color: {{ people.hair_color }}
    </ion-card-content>
    <ion-card-content>
      <ion-icon name="color-fill"></ion-icon> Skin Color: {{ people.skin_color }}
    </ion-card-content>
    <ion-card-content>
      <ion-icon name="eye"></ion-icon> Eyes Color: {{ people.eye_color }}
    </ion-card-content>
    <ion-card-content>
      <ion-icon name="transgender"></ion-icon> Gender: {{ people.gender }}
    </ion-card-content>
  </ion-card>

</ion-content>