<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/people">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ people?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="people">
    <ion-card-content>
      Birth Year: {{ people.birth_year }}
    </ion-card-content>
    <ion-card-content>
      Hair Color: {{ people.hair_color }}
    </ion-card-content>
    <ion-card-content>
      Skin Color: {{ people.skin_color }}
    </ion-card-content>
    <ion-card-content>
      Eyes Color: {{ people.eye_color }}
    </ion-card-content>
    <ion-card-content>
      Gender: {{ people.gender }}
    </ion-card-content>
  </ion-card>

</ion-content>