<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/(films:films)">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ film?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteFilm()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" class="gold"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteFilm()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" class="gold"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="film" class="movie-card">
    <ion-card-content>
      <div class="star-wars-intro">

        <p class="intro-text">
          {{film.title}}
        </p>
    
        <h2 class="main-logo">
          <img src="./../../../assets/star-wars-intro.png">
        </h2>
    
        <div class="main-content">
    
          <div class="title-content">
            <p class="content-header">{{film.title}}</p>
    
            <br>
    
            <p class="content-body">
              {{ film.opening_crawl }}  
            </p>
    
            <br>
    
            <a href="#" class="space-button">Download StarWarsIntro.css</a>
              
          </div>
        </div>
      </div>
      <!--  -->
    </ion-card-content>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="film" slot="start"></ion-icon>
      Director: {{ film.director }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Release Date: {{ film.release_date | date }}
    </ion-item>
  </ion-card>

</ion-content>