<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/(films:films)">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ film?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="film" class="movie-card">
    <ion-card-content>
      {{ film.opening_crawl }}
    </ion-card-content>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="film" slot="start"></ion-icon>
      Director: {{ film.director }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Release Date: {{ film.release_date | date }}
    </ion-item>
  </ion-card>

</ion-content>