ion-card{
    color: white;
    font-weight: 100;
    font-family: fantasy;
    font-size: large;
}

ion-card-content.legend{
    color: gold;
    text-align-last: justify;
    font-size: large;
    -webkit-user-modify: read-write-plaintext-only;
}