.movie-card {
    background: #020202;
}
.movie-info {
    --background: #4a4a4a;
}

ion-card-content{
    color: gold;
    text-align-last: justify;
    font-size: large;
    -webkit-user-modify: read-write-plaintext-only;
}