<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/films">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ film?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding>

  <ion-card *ngIf="film">
    <ion-card-content>
      Producers: {{ film.producer }}
    </ion-card-content>
    <ion-card-content class="legend">
      {{ film.opening_crawl }}
    </ion-card-content>
  </ion-card>

</ion-content>